<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Sofia&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/logs.css" />
  </head>
  <body>
    <div class="topnav" id="myTopnav">
      <a href="/" id="wbnm">///Ganit</a>
      <a href="/#bannn">Home</a>
      <a href="/#abt">About</a>
      <a href="/#tm">Faculty</a>
      <a href="/#ban2">Team</a>

      <a href="/cour">Courses</a>
      <a href="#about">Result</a>

      <a href="/lg" style="float: right;">Login</a>
      <a href="/sgn" style="float: right;">Signup</a>

      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <p class="msg">logs of the website are given below</p>
    <div class="btns">
      <button><a href="/lgs">student login</a></button>

      <button><a href="/lgt">teacher login</a></button>
    </div>
    <script>
      function myFunction() {
        var x = document.getElementById("myTopnav");

        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }
    </script>
  </body>
</html>
